@using SportShop.Entities;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IQueryable<Brand> lstBra = (IQueryable<Brand>)ViewData["Brand"];
    IQueryable<Color> lstCol = (IQueryable<Color>)ViewData["Color"];
    IQueryable<ShoeType> lstTyp = (IQueryable<ShoeType>)ViewData["Type"];
}


<div class="mens">
    <div class="main">
        <div class="wrap">
            <div class="cont span_2_of_3">
                <h2 class="head">Women's</h2>
                <div class="mens-toolbar">
                    <div class="sort">
                        <div class="sort-by">
                            <label>Sort By</label>
                            <select>
                                <option value="">
                                    Position
                                </option>
                                <option value="">
                                    Name
                                </option>
                                <option value="">
                                    Price
                                </option>
                            </select>
                            <a href=""><img src="web/images/arrow2.gif" alt="" class="v-middle"></a>
                        </div>
                    </div>
                    <div class="pager">
                        <div class="limiter visible-desktop">
                            <label>Show</label>
                            <select>
                                <option value="" selected="selected">
                                    9
                                </option>
                                <option value="">
                                    15
                                </option>
                                <option value="">
                                    30
                                </option>
                            </select> per page
                        </div>
                        <ul class="dc_pagination dc_paginationA dc_paginationA06">
                            <li><a href="#" class="previous">Pages</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="top-box">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic1.jpg" alt="" />
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic2.jpg" alt="" />
                                </div>
                                <div class="sale-box1"><span class="on_sale title_shop">Sale</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="reducedfrom">$66.00</span>
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="top-box">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic3.jpg" alt="" />
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic4.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic5.jpg" alt="" />
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="top-box1">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic6.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic7.jpg" alt="" />
                                </div>
                                <div class="sale-box1"><span class="on_sale title_shop">Sale</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="reducedfrom">$66.00</span>
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic8.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <h2 class="head">Staff Pick</h2>
                <div class="top-box1">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic8.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic4.jpg" alt="" />
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic2.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <h2 class="head">New Products</h2>
                <div class="section group">
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic5.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic2.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a href="single.html">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src="web/images/pic3.jpg" alt="" />
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">Lorem Ipsum simply</p>
                                        <div class="price1">
                                            <span class="actual">$12.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="rsingle span_1_of_single">
                <section class="sky-form">
                    <h4>Danh mục</h4>
                    <div class="row row1 scroll-pane" style="height:auto;">
                        <div class="col col-4">
                            <ul style="padding-left:27px;">
                                <li><a style="color: #555555;font-size: 13px;line-height: 27px;" href="/Woman">Nữ</a></li>
                                <li><a style="color: #555555;font-size: 13px;line-height: 27px;" href="/Nam">Nam</a></li>
                                <li><a style="color: #555555;font-size: 13px;line-height: 27px;" href="/Trẻ em">Trẻ em</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Thương hiệu</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            @foreach (var item in lstBra)
                            {
                                if (item.BrandID == 1)
                                {
                                    <label class="radio"><input value="@item.BrandID" checked type="radio" name="radioBrand"><i></i>Tất cả</label>
                                }
                                else
                                {
                                    <label class="radio"><input value="@item.BrandID" type="radio" name="radioBrand"><i></i>@item.BrandName</label>
                                }
                            }

                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Loại giày</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            @foreach (var item in lstTyp)
                            {
                                if (item.TypeID == 1)
                                {
                                    <label class="radio"><input value="@item.TypeID" checked type="radio" name="radioTypeShoes"><i></i>Tất cả</label>
                                }
                                else
                                {
                                    <label class="radio"><input value="@item.TypeID" type="radio" name="radioTypeShoes"><i></i>@item.TypeName</label>
                                }
                            }
                        </div>

                    </div>
                </section>
                <section class="sky-form">
                    <h4>Màu sắc</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            @foreach (var item in lstCol)
                            {
                                if (item.ColorID == 1)
                                {
                                    <label class="radio"><input value="@item.ColorID" checked type="radio" name="radioColor"><i></i>Tất cả</label>
                                }
                                else
                                {
                                    <label class="radio"><input value="@item.ColorID" type="radio" name="radioColor"><i></i>@item.ColorName</label>
                                }
                            }
                            @*<label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color1"> </span> Đỏ</label>
                            <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color2"> </span> Xanh lá</label>
                            <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color3"> </span> Xanh dương</label>
                            <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color4"> </span> Vàng</label>
                            <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color5"> </span> Tím</label>
                            <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color6"> </span> Cam</label>
                            <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color7"> </span> Xám</label>*@
                        </div>
                    </div>
                </section>
                <button onclick="Filter();">Lọc</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
    function Filter () {
        var brandID=0;
        if($('input:radio[name=radioBrand]:checked').val()!=null){
            brandID = $('input:radio[name=radioBrand]:checked').val();
        }
        var typeShoesID = 0;
        if ($('input:radio[name=radioBrand]:checked').val() != null) {
            typeShoesID = $('input:radio[name=radioBrand]:checked').val();
        }
        var colorID = 0;
        if ($('input:radio[name=radioColor]:checked').val() != null) {
            colorID = $('input:radio[name=radioColor]:checked').val();
        }
        alert(brandID.toString() + '-' + typeShoesID.toString + '-' + colorID.toString());
    });
</script>
