@model SportShop.DAO.ShoppingCart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    SportShop.Entities.Khachhang kh = (SportShop.Entities.Khachhang)Session["Khachhang"];
}
<link href="~/css/myStyle.css" rel="stylesheet" />
<script>
    function RemoveFromCart(id) {
        if (confirm('Bạn muốn xóa sản phẩm khỏi giỏ hàng?')) {
            $.post("/Cart/RemoveFromCart", { "id": id },
                   function (data) {
                       if (data.Code = '0') {
                           alert('Xóa sản phẩm khỏi giỏ hàng thành công!');
                           window.location = "/Cart";
                       }
                   }
           );
        }
    };
    function RemoveCart() {
        if (confirm('Bạn muốn xóa giỏ hàng?')) {
            $.post("/Cart/RemoveCart",
                   function (data) {
                       if (data.Code = '0') {
                           alert('Xóa giỏ hàng thành công!');
                           window.location = "/Cart";
                       }
                   }
           );
        }
    };
    function ChangeAmount(num,id){
        if(num==1){
            $.post("/Cart/AddToCart",{ "id": id },
                function (data) {
                    window.location = "/Cart";
                },
            'text'
        );
        }else{
            $.post("/Cart/RemoveFromCart", { "id": id },
                   function (data) {
                       if (data.Code = '0') {
                           window.location = "/Cart";
                       }
                   }
           );
        }
    };

</script>


<div class="main">
    <div id="boxPurchase" class="wrap">
        <div class="cont span_2_of_3">
            <div class="frameButtom">
                <div class=" cart-left-buttons" style="position:relative">
                    <a href="/Home">Tiếp tục mua sắm | </a>
                    <a id="empty-cart" onclick="RemoveCart()" class="" href="javascript:void(0)">Xoá Giỏ Hàng</a>
                    <a style="position:absolute;right:0;z-index:1; cursor:pointer" onclick="Thanhtoan()">Thanh toán</a>
                </div>
                @*<div class="cart-right-buttons ">
                        <button class="btn btn-blue float-right">Thanh toán</button>
                    </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="mainbox-cart-body">
                <div id="cart_items">
                    <table class="table top table-width">
                        <tbody>
                            <tr>
                                <th colspan="2" class="left">Sản Phẩm</th>
                                <th class="right">Giá (VNĐ)</th>
                                <th class="quantity-cell">Số Lượng</th>
                                <th class="right">Tổng Tiền (VNĐ)</th>
                            </tr>
                            @if (Model != null)
                            {
                                foreach (var item in Model.ListProduct)
                                {
                                    <tr>
                                        <td class="product-image-cell">
                                            <div id="" class="product-image">
                                                <a href="#">
                                                    <img title="" src="@item.Avatar" style="height:auto; width:80px;">
                                                </a>
                                            </div>
                                        </td>
                                        <td style="width: 50%;" class="product-description">
                                            <a href="/Detail?id=@item.ProductID">@item.ProductName</a>
                                            <a href="#" onclick="RemoveFromCart(@item.ProductID)"><i class="fa fa-times" style="cursor:pointer;color:red;" title="Xóa"></i></a>
                                        </td>
                                        <td class="product-price">
                                            <span>@item.Quantity x @((item.Priece * 1000).ToString("N0"))</span>
                                            &nbsp;
                                            @*<p style="text-decoration: line-through;">1.809.000đ</p>*@
                                        </td>
                                        <td class="quantity-cell">
                                            <a onclick="ChangeAmount(1,@item.ProductID)" class="increase">+</a>
                                            <input type="text" disabled class="" value="@item.Quantity" id="" size="2">
                                            <a onclick="ChangeAmount(-1,@item.ProductID)" class="decrease">−</a>
                                        </td>
                                        <td class="price-cell">
                                            <span class="price">@((item.Total * 1000).ToString("N0"))</span>
                                            &nbsp;
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <!--cart_items-->
                </div>
            </div>
            <div style="float:left;width:100%;padding:10px 0; border:0 none;" id="checkout_totals">
                <div style="border: 1px solid #d0d0d0; padding: 10px; background-color: #fff; height:170px;
                                        font-size: 13px;width:60%;float:left;box-sizing:border-box;">
                    <p>
                        -Nếu bạn đồng ý mua danh sách sản phẩm ở trên thì vui lòng bấm nút
                        <b style="color: Olive">"THANH TOÁN"</b>
                    </p>
                    <p>
                        -Để tiếp tục mua thêm sản phẩm khác, bạn bấm nút
                        <b style="color: Olive">"TIẾP TỤC MUA"</b>
                    </p>
                    <p>
                        -Để bỏ từng sản phẩm trong danh sách, bấm vào biểu tượng xóa phía bên phải tên sản
                        phẩm
                    </p>
                    <p>
                        -Để thêm số lượng cho một sản phẩm cần mua, bạn chọn số lượng
                    </p>
                    <p>
                        -Để hủy bỏ đơn hàng, bạn bấm nút
                        <b style="color: Olive">"XÓA GIỎ HÀNG"</b>
                    </p>
                </div>
                <div style="border: 1px solid #d0d0d0; padding: 10px; background-color: #fff; height:170px;width:40%;float:left;box-sizing:border-box">
                    <span style="font-style: italic;">Tổng tiền:</span>
                    @if (Model != null)
                    {
                        <span id="subtotal" style="margin-left:5px; font-size:18px; font-weight:bold;">@Model.GetTotal().ToString("N0") VNĐ</span>
                    }
                </div>
            </div>
            <div class="frameButtom">
                <div class=" cart-left-buttons" style="position:relative">
                    <a href="/Home">Tiếp tục mua sắm | </a>
                    <a id="empty-cart" onclick="RemoveCart()" class="" href="javascript:void(0)">Xoá Giỏ Hàng</a>
                    <a style="position:absolute;right:0;z-index:1; cursor:pointer" onclick="Thanhtoan()">Thanh toán</a>
                </div>
            </div>
        </div>
        <div class="rsidebar span_1_of_left">
            <div class="top-border"> </div>
            <div class="border"></div>
        </div>
        <div class="clear"></div>

    </div>
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:730px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" style="text-align:center;">Hóa đơn thanh toán</h4>
            </div>
            <div class="modal-body">

                @if (kh != null)
                {<span>
                    Tên khách hàng:@kh.Tenkhachhang
                </span>}

                <br />
                <span>Danh sách sản phẩm:</span>
                <br />
                <table class="table top table-width">
                    <tbody>
                        <tr>
                            <th class="left">Sản Phẩm</th>
                            <th class="right">Giá (VNĐ)</th>
                            <th class="quantity-cell">Số Lượng</th>
                            <th class="right">Tổng Tiền (VNĐ)</th>
                        </tr>
                        @if (Model != null)
                        {
                            foreach (var item in Model.ListProduct)
                            {
                                <tr>

                                    <td style="width: 50%;" class="product-description">
                                        <a href="/Detail?id=@item.ProductID">@item.ProductName</a>
                                    </td>
                                    <td class="product-price">
                                        <span>@item.Quantity x @((item.Priece * 1000).ToString("N0"))</span>
                                        &nbsp;
                                        @*<p style="text-decoration: line-through;">1.809.000đ</p>*@
                                    </td>
                                    <td class="quantity-cell">
                                        <span>@item.Quantity</span>
                                    </td>
                                    <td class="price-cell">
                                        <span class="price">@((item.Total * 1000).ToString("N0"))</span>
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <span style="font-style: italic;">Tổng tiền:</span>
                @if (Model != null)
                {
                    <span id="subtotal" style="margin-left:5px; font-size:18px; font-weight:bold;">@Model.GetTotal().ToString("N0") VNĐ</span>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="/Cart/Purchase" id="btnConfirmPay" type="button" class="btn btn-primary">Thanh toán</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="checkKh" value="@(kh!=null ? 1: 0)" />
<script>
    function Thanhtoan() {
        if ($('#checkKh').val() == 1) {
            $('#myModal').modal();
        } else {
            alert('Vui lòng đăng nhập')
        }
    }
   
</script>
@*<link href="~/css/bootstrap.min.css" rel="stylesheet" />*@