@using SportShop.Entities;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IQueryable<Product> lstPro = (IQueryable<Product>)ViewData["Product"];
    IQueryable<Brand> lstBra = (IQueryable<Brand>)ViewData["Brand"];
    IQueryable<Color> lstCol = (IQueryable<Color>)ViewData["Color"];
    IQueryable<ShoeType> lstTyp = (IQueryable<ShoeType>)ViewData["Type"];
}

<link href="~/css/myStyle.css" rel="stylesheet" />
<div class="mens">
    <div class="main">
        <div class="wrap">
            <div class="cont span_2_of_3" id="Ajax">
                @Html.Partial("ListProduct", lstPro)
            </div>
            <div class="rsingle span_1_of_single" style="margin: 1% 0 1% 2.6%;">
                <section class="sky-form">
                    <h4>Danh mục</h4>
                    <div class="row row1 scroll-pane" style="height:auto;">
                        <div class="col col-4">
                            <ul style="padding-left:27px;">
                                <li><a style="color: #555555;font-size: 13px;line-height: 27px;" href="/Woman">Nữ</a></li>
                                <li><a style="color: #555555;font-size: 13px;line-height: 27px;" href="/Nam">Nam</a></li>
                                <li><a style="color: #555555;font-size: 13px;line-height: 27px;" href="/Trẻ em">Trẻ em</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Thương hiệu</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            @foreach (var item in lstBra)
                            {
                                if (item.BrandID == 1)
                                {
                                    <label class="radio"><input value="@item.BrandID" checked type="radio" name="radioBrand"><i></i>Tất cả</label>
                                }
                                else
                                {
                                    <label class="radio"><input value="@item.BrandID" type="radio" name="radioBrand"><i></i>@item.BrandName</label>
                                }
                            }

                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4>Loại giày</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            @foreach (var item in lstTyp)
                            {
                                if (item.TypeID == 1)
                                {
                                    <label class="radio"><input value="@item.TypeID" checked type="radio" name="radioTypeShoes"><i></i>Tất cả</label>
                                }
                                else
                                {
                                    <label class="radio"><input value="@item.TypeID" type="radio" name="radioTypeShoes"><i></i>@item.TypeName</label>
                                }
                            }
                        </div>

                    </div>
                </section>
                <section class="sky-form">
                    <h4>Màu sắc</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            @foreach (var item in lstCol)
                            {
                                if (item.ColorID == 1)
                                {
                                    <label class="radio"><input value="@item.ColorID" checked type="radio" name="radioColor"><i></i>Tất cả</label>
                                }
                                else
                                {
                                    <label class="radio"><input value="@item.ColorID" type="radio" name="radioColor"><i></i>@item.ColorName</label>
                                }
                            }
                            @*<label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color1"> </span> Đỏ</label>
                                <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color2"> </span> Xanh lá</label>
                                <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color3"> </span> Xanh dương</label>
                                <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color4"> </span> Vàng</label>
                                <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color5"> </span> Tím</label>
                                <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color6"> </span> Cam</label>
                                <label class="radio"><input type="radio" name="radioColor"><i></i><span class="color color7"> </span> Xám</label>*@
                        </div>
                    </div>
                </section>
                <button class="btn btn-primary" style="left:40%" onclick="Filter();">Lọc</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>
    function Filter() {
        var brandID = $('input:radio[name=radioBrand]:checked').val();
        var typeShoesID = $('input:radio[name=radioTypeShoes]:checked').val();
        var colorID = $('input:radio[name=radioColor]:checked').val();
        $.ajax({
            url: "/Men/Filter",
            method: "POST",
            data: { BrandID: brandID, TypeShoesID: typeShoesID, ColorID: colorID },
            success: function (data) {
                $('#Ajax').html(data);
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //return false;
            }
        });
    };
</script>
