@model SportShop.Entities.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin-top:20px">Bạn muốn xóa bản ghi này?</h1>
    </div>
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            Tên tài khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            Mật khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Tên nhân viên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xóa" class="btn btn-primary" />
                <a href="/Admin/Users" class="btn btn-primary">Hủy</a>
            </div>
        </div>
    }
</div>
