@using SportShop.Entities;
@model IQueryable<Product>
<style>
    .cart-right:hover {
        background: rgba(255, 0, 0, 0.66) url("../images/cart2.png") repeat scroll 2px 0 !important;
    }
</style>
<h2 class="head">Danh sách các sản phẩm</h2>
@if (Model.Count() > 0)
{
    <div class="top-box">
        @foreach (var item in Model)
        {
            <div class="col_of_product">
                <div class="col_1_of_3 span_1_of_3">

                    <div class="inner_content clearfix">
                        <a href="/Detail?id=@item.ProductID">
                            <div class="product_image">
                                <img src="@item.Avatar" alt="" />
                            </div>
                        </a>
                        @if (item.Sale.SaleNum > 0)
                        {
                            <div class="sale-box1">
                                <span class="on_sale title_shop">Sale</span>
                            </div>
                            <div class="price">
                                <div class="cart-left">
                                    <p class="title">@item.ProductName</p>
                                    <div class="price1">
                                        @{
                            float actual;
                            actual = (float)item.Price * (float)item.Sale.SaleNum / 100;
                                        }
                                        <span class="reducedfrom">@((item.Price * 1000).ToString("N0"))</span>
                                        <span class="actual">@((actual * 1000).ToString("N0")) VNĐ</span>
                                    </div>
                                </div>
                                <div class="cart-right" title="Thêm vào giỏ hàng" onclick="AddToCart(@item.ProductID)"> </div>
                                <div class="clear"></div>
                            </div>
                        }
                        else
                        {
                            if (item.IsNew == true)
                            {
                                <div class="sale-box">
                                    <span class="on_sale title_shop">New</span>
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">@item.ProductName</p>
                                        <div class="price1">
                                            <span class="actual">@((item.Price * 1000).ToString("N0")) VNĐ</span>
                                        </div>
                                    </div>
                                    <div class="cart-right" title="Thêm vào giỏ hàng" onclick="AddToCart(@item.ProductID)"> </div>
                                    <div class="clear"></div>
                                </div>
                            }
                            else
                            {
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">@item.ProductName</p>
                                        <div class="price1">
                                            <span class="actual">@((item.Price * 1000).ToString("N0")) VNĐ</span>
                                        </div>
                                    </div>
                                    <div class="cart-right" title="Thêm vào giỏ hàng" onclick="AddToCart(@item.ProductID)"> </div>
                                    <div class="clear"></div>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        }
        <div class="clear"></div>

    </div>
}
else
{
    <p> Không có sản phẩm</p>
}

<script>
    function AddToCart(id) {
        $.post(
            // URL
            "/Cart/AddToCart",
            // Data
            { "id": id },
            // Success
            function (data) {
                $('#AjaxCart').html(data);
                alert("Thêm thành công!")
            },
            // dataTyppe
            'text'
        );
    };
    $('.cart-left .title').each(function (i, e) {
        $(this).html(StringCutter($(this).html(), 18));
    });
    function StringCutter(str, maxlength) {
        var i;
        if (str.length > maxlength) {
            for (i = maxlength; i > 0; i--) {
                if (str[i] != ' ') {
                    maxlength = maxlength - 1;
                    break;
                } else {
                    break;
                }
            }
            return str.substr(0, maxlength) + '...';
        } else { return str; }
    }
</script>
